* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




@mixin inputbox {
  width: 280px;
  height: 40px;
  box-shadow: inset 20px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  border: 3px solid  #C4DAF6;
}




@media(max-width:510px) {
  #root {
    width: 474px;
    height: 926px;
    background-color: #C4DAF6;
    font-family: 'Nanum Pen Script', cursive;

    &>img {
      position: relative;
      top: 100px;
      left: 110px;
    }


  }

  /*로그인 박스 */
  .log-box {
    width: 396px;
    height: 576px;
    border: 10px solid #509BF6;
    background-color: #fff;
    border-radius: 30vw;
    position: relative;
    top: 150px;
    left: 40px;

  }


  /*sign in/ sign up 박스 */

  .sign {
    display: flex;

    &>a>button {
      width: 130px;
      height: 50px;
      background-color: #fff;
      border: 3px solid #C4DAF6;
      border-radius: 30vw;
      text-align: center;
      line-height: 2.5;
      position: relative;
      top: 35px;
      left: 85px;
      margin-right: 5vw;
      transform: translate(-10%, 30%);
      cursor: pointer;
    }

    &>A>button:hover {
      background-color: #509BF6;
      color: #fff;
      transition: 1s;

    }
  }
}

.sign-in{
  width: 130px;
  height: 50px;
  background-color: #509BF6;
  border: 3px solid #C4DAF6;
  color: #fff;
  border-radius: 30vw;
  position: relative;
  top: 50px;
  left: 45px;
}


/* id  박스 */

.box {
  margin: 100px 0px 50px 60px;

  &>input {
    @include inputbox()
  }
  &>label{
    font-size: 2rem;
  }

}



/* password 박스 */

.box1 {
  margin: 40px 0px 0px 60px;

  &>input {
    @include inputbox()
  }
  &>label{
    font-size: 2rem;
  }

}

.confirm {
  width: 120px;
  height: 70px;
  position: relative;
  bottom: -50px;
  left: 200px;
  border-radius: 6vw;
  background: linear-gradient(180deg, #509BF6 0%, #C4DAF6 49.82%, #509BF6 100%);
  border: 3PX SOLID #fff;
  color: #fff;
  cursor: pointer;
}

