* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 510px) {
  #root {
    width: 474px;
    height: 1000px;
    background-color: #C4DAF6;
    font-family: "Nanum Pen Script", cursive;
    overflow: hidden;
  }

  .bottom {
    position: relative;
    width: 474px;
    height: 926px;
    left: 0px;
    top: 151px;
    background: #509BF6;
    border-radius: 70px;
  }

  .card {
    position: absolute;
    width: 381px;
    height: 262px;
    left: 45px;
    top: 54px;
    background-color: #fff;
    border-radius: 60px;
  }

  section > img {
    width: 150px;
    position: absolute;
    left: 10px;
    top: 60px;
    cursor: pointer;
  }

  .d-day {
    position: absolute;
    width: 168px;
    height: 57px;
    right: 30px;
    top: 31px;
    background: #C4DAF6;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .d-day > p {
    font-size: 1.3rem;
    padding-right: 10px;
    color: #fff;
  }

  .level {
    position: absolute;
    width: 147px;
    height: 32px;
    left: 193px;
    top: 132px;
  }

  .profile {
    position: absolute;
    width: 100px;
    height: 100px;
    right: 90px;
    top: 100px;
    display: grid;
    font-size: 1.3rem;
  }

  .choice {
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .choice > a > button {
    width: 81px;
    height: 36px;
    border-radius: 30px;
    margin-left: 10px;
    background: #fff;
    border: none;
  }
  .choice > a > button:hover {
    border: 1px solid black;
  }

  .tip {
    position: relative;
    width: 381px;
    height: 262px;
    left: 0px;
    top: 280px;
    background-color: #fff;
    border-radius: 60px;
    display: flex;
  }

  .tip-img {
    width: 50%;
  }
  .tip-img > h1 {
    padding: 10px 0px 0px 40px;
  }
  .tip-img > img {
    width: 160px;
    border-radius: 50px;
    margin-top: 30px;
  }

  .tip-text {
    width: 60%;
  }
  .tip-text > h3 {
    padding: 60px 0px 0px 0px;
  }
  .tip-text > p {
    margin-top: 50px;
  }

  .challenge {
    position: relative;
    width: 381px;
    height: 262px;
    left: 0px;
    top: 302px;
    background-color: #fff;
    border-radius: 60px;
    display: flex;
  }

  .chanllenge-img {
    width: 40%;
  }
  .chanllenge-img > h1 {
    padding: 10px 0px 0px 40px;
  }
  .chanllenge-img > a > img {
    width: 150px;
    margin: 20px 0px 0px 10px;
  }

  .challenge-text {
    position: relative;
    top: 60px;
    left: 30px;
    width: 60%;
  }
  .challenge-text > h2 {
    position: relative;
  }
  .challenge-text > p {
    margin-top: 30px;
    font-size: 20px;
  }

  .people {
    margin-top: 20px;
    display: flex;
  }
  .people > p {
    margin-left: 20px;
  }

  .join {
    position: relative;
    width: 170px;
    height: 38px;
    top: 10px;
    background: #FFFFFF;
    border: 3px solid #509BF6;
    border-radius: 20px;
  }
  .join:hover {
    background-color: #509BF6;
    border: 3px solid #fff;
  }

  .bottom-bar {
    width: 400px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    bottom: -630px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottom-bar > a > img {
    width: 40px;
    margin-right: 40px;
  }
}/*# sourceMappingURL=mypage.css.map */