* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #4100F5;
  --color-2: #C4DAF6;
  --color-3: #509BF6;
  --color-4: #4CBFD9;
}

#root {
  width: 500px;
  height: 960px;
  font-family: "Nanum Pen Script", cursive;
  overflow: hidden;
  background-color: var(--color-2);
}

.profile {
  width: inherit;
  height: 200px;
  display: flex;
  margin-left: 40px;
}
.profile > div > a > img {
  width: 200px;
  margin: 20px 0px 0px 20px;
}
.profile > div > p {
  position: relative;
  left: 60px;
  top: 100px;
  text-align: center;
  font-size: 1.5rem;
}

.search {
  margin: 30px 0 0 20px;
}
.search > input {
  margin-left: 10px;
  border-radius: 30px;
  border: 1px solid var(--color-1);
  background-color: #fff;
  width: 400px;
  height: 30px;
}
.search > a > img {
  position: relative;
  width: 20px;
  right: -10px;
  top: 4px;
}

.sort {
  margin-top: 30px;
  display: flex;
  z-index: 2;
  position: relative;
  margin-left: 40px;
}
.sort > a > button {
  margin-left: 10px;
  border: 1px solid var(--color-3);
  background-color: #fff;
  height: 40px;
  width: 70px;
  border-radius: 30px;
}
.sort > a > button:active {
  box-shadow: inset 30px 10px 4px rgba(0, 0, 0, 0.25);
}

.next {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(180deg, #3E04EF 0%, #F1739F 29.17%, #FFCCD1 94.65%, #1E3265 10%);
  color: #fff;
  border: none;
  font-size: 2rem;
  right: -20px;
  bottom: 15px;
}

.food {
  width: 440px;
  height: 130px;
  border: 1px solid var(--color-1);
  background-color: #fff;
  position: relative;
  top: -20px;
  z-index: 1;
  margin: 10px 3px 0px 25px;
}

.food-group {
  width: inherit;
  height: 55%;
  margin: 10px 0px 0px 0px;
}
.food-group > a > img {
  margin-left: 10px;
}

.food-group-2 {
  margin: 10px 0px 0px 10px;
}
.food-group-2 > a > img {
  margin-right: 30px;
}

.food-font {
  width: 400px;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
.food-font > a > p {
  width: 90px;
  margin-right: 7px;
  position: relative;
  left: 25px;
  color: #000;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.food-buy {
  width: 440px;
  height: 130px;
  border: 1px solid var(--color-1);
  background-color: #fff;
  position: relative;
  top: -20px;
  display: none;
  z-index: 1;
  margin: 10px 3px 0px 10px;
}

.food-font-buy {
  display: flex;
  font-size: 2rem;
}
.food-font-buy > a > p {
  margin: -15px 50px 0px 30px;
}

.previous {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: linear-gradient(180deg, #3E04EF 0%, #F1739F 29.17%, #FFCCD1 94.65%, #1E3265 10%);
  color: #fff;
  border: none;
  font-size: 2rem;
  right: -170px;
  bottom: 15px;
}

.on {
  display: none;
}

.off {
  display: block;
}

.home {
  width: 60px;
  background-color: none;
}

.bottom-bar {
  height: 80px;
  background-color: #C4DAF6;
  position: relative;
  bottom: -30px;
  left: 0px;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.bottom-bar > img {
  width: 45px;
  margin-left: 40px;
}
.bottom-bar > img:hover {
  border: 4px dotted var(--color-3);
}

.market {
  position: absolute;
  left: 110px;
  bottom: 60px;
}
.market:hover {
  border: 4px dotted var(--color-3);
}

.page {
  width: 70px;
  height: 80px;
  position: absolute;
  background-color: var(--color-3);
  left: 200px;
  bottom: 70px;
}
.page > img {
  margin: 5px 10px 0 5px;
}

.buck {
  position: absolute;
  right: 140px;
  bottom: 60px;
}
.buck:hover {
  border: 4px dotted var(--color-3);
}

.person {
  position: absolute;
  right: 50px;
  bottom: 60px;
}
.person:hover {
  border: 4px dotted var(--color-3);
}

.recommand {
  margin-left: 20px;
}

.recomand-food1 {
  width: 440px;
  height: 150px;
  display: flex;
  justify-content: center;
  margin: 10px 0 0 10px;
}
.recomand-food1 > a > img {
  margin: 0px 10px 0 10px;
}/*# sourceMappingURL=store.css.map */